.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
  }
  
.column {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
  }


.sticky-footer {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}

  
